//base
@import "partials/base/reset";
@import "partials/base/tipografia";
@import "partials/base/body";

//compponents
@import "partials/components/header";
@import "partials/components/footer";
@import "partials/components/cards";
@import "partials/components/generals";
@import "partials/components/buttons";




 
