@use "../utilities/variables";

ul {
    display: flex;
    flex-wrap: wrap;        
    justify-content: flex-start;
    align-items: center;
    gap: 16px ;
    padding: 0;
    margin: 0;
    li {
    list-style: none ;
        a{text-decoration: none;
          color: variables.$main-color ;
          &:hover { color: variables.$secondary-color ;
          text-decoration: underline;
          transform: translate(3px,3px);
          }
         }
 

    }
}
// logo con keyframes
@keyframes efecto-custom {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}
.logo {
     width: 200px;
     height: 130px;
     vertical-align: middle;
     margin-right: 10px;
     animation-name: efecto-custom;
     animation-timing-function: ease-in;
     animation-iteration-count: infinite;
     animation-duration: 2s;
     animation-delay: 0.5s;
}
   
 
 
