%button {display: inline-block;
         text-decoration: none;
         color: white;
         border-radius: 5px;
         padding: 10px 20px; 
         background-image: radial-gradient(green, rgb(245, 237, 5));
    }

%button-secondary {display: inline-block;
         text-decoration: none;
         color: white;
         border-radius: 5px;
         padding: 10px 20px; 
         background-image: radial-gradient(violet, rgb(206, 10, 147));
         
    }
       


    @keyframes hover-color {
        0% {opacity: 0;}
        100% {opacity: 1;}}
    a{text-decoration: none;
        font-size: 16px ;}
    a:hover {
        animation-name: hover-color;
        animation-duration: 0.8s;
        animation-iteration-count: 1;
        background-image: radial-gradient(violet, rgb(206, 10, 147));
    }
